<div class="container mt-5 w-50">
  <div class="card">
    <div class="card-header d-flex justify-content-center">
      <h5 class="card-title">Add Invoice</h5>
    </div>

    <div class="card-body">
      <form method="POST" action="/pharmacy/invoices/createForm">
        <div class="mb-3">
          <label for="fullName" class="form-label">Total Price</label>

          <input type="number" class="form-control" id="fullName"
          name="total_price" required / >
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Customer</label>
          <select
            class="form-select"
            aria-label="Default select example"
            name="customer_id"
          >
            <% customers.forEach(function(cust){ %>
            <option value="<%= cust.id %> "><%= cust.full_name %></option>

            <% }); %>
          </select>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Supplier</label>
          <select
            class="form-select"
            aria-label="Default select example"
            name="supplier_id"
          >
            <% suppliers.forEach(function(supp){ %>
            <option value="<%= supp.id %> "><%= supp.full_name %></option>

            <% }); %>
          </select>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>
