<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <a href="/pharmacy/suppliers" class="btn btn-info">Go back</a>
    </div>
    <div class="card-body">
      <% if (supplier) { %>
      <ul>
        <li><h2>Full name: <%= supplier.full_name %></h2></li>
        <li><h2>Email: <%= supplier.email %></h2></li>
        <li><h2>Phone Number: <%= supplier.phone_num %></h2></li>
      </ul>
      <% } %>
    </div>
  </div>
</div>
