<div class="container mt-5 w-50">
  <div class="card">
    <div class="card-header d-flex justify-content-center">
      <h5 class="card-title">Add Customer</h5>
    </div>

    <div class="card-body">
      <form method="POST" action="/pharmacy/customers/createForm">
        <div class="mb-3">
          <label for="fullName" class="form-label">name</label>

          <input type="text" class="form-control" id="fullName" name="full_name"
          / >
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Email address</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            name="email"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Phone</label>
          <input
            type="number"
            class="form-control"
            id="exampleInputPassword1"
            name="phone_num"
          />
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>
