<div class="container mt-5 w-50">
  <div class="card">
    <div class="card-header d-flex justify-content-center">
      <h5 class="card-title">Edit Customer</h5>
    </div>

    <div class="card-body">
      <form
        method="POST"
        action="/pharmacy/customers/editForm/<%= customer.id %> "
      >
        <div class="mb-3">
          <label for="fullName" class="form-label">name</label>

          <input
            type="text"
            class="form-control"
            id="fullName"
            name="full_name"
            value="<%= customer.full_name %> "
            required
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Email address</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            name="email"
            value="<%= customer.email %> "
            required
          />
        </div>
        <div class="mb-3">
          <label class="form-label">Phone</label>
          <input
            type="number"
            class="form-control"
            id="exampleInputPassword1"
            name="phone_num"
            value="<%= customer.phone_num  %>"
            required
          />
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-primary">update</button>
        </div>
      </form>
    </div>
  </div>
</div>
