<!-- @format -->

<table class="table table-dark table-striped container mt-5">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Options</th>
      <th scope="col">
        <a type="button" class="btn btn-info" href="/customers/create"
          >create</a
        >
      </th>
    </tr>
  </thead>
  <tbody>
    <% customers.forEach(function(customers){ %>
    <tr>
      <th scope="row"><%= customers.id %></th>
      <td><%= customers.full_name %></td>
      <td><%= customers.email %></td>
      <td><%= customers.phone_num %></td>
      <td>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-secondary">Update</button>
          <button type="button" class="btn btn-danger">Delete</button>
        </div>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>
